.marginRight {
  margin-right: 2rem;
}

.header {
  border-bottom: 2px solid var(--gris3);
  padding: 1rem 0;
}

.display {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--naranja);
  font-size: 4rem;
  line-height: 0;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  margin-right: 2rem;
}
